<h5>Search:</h5>
<div class="container">
    <form class="form-inline">
        <div class="row">
            <div class="col-md-5">
                <label>Comapny name:</label>
                <input #companyNameInput type="text" class="form-control" aria-label="companyName" aria-describedby="basic-addon1">
            </div>
            <div class="col-md-2">
            <label>Amount more then:</label>
            <input #amountInput type="number" min="0" class="form-control"matInput name="amount"></div>
            <div class="col-md-1">
            <label>only upaid:</label>
            <mat-checkbox (change)="isPaidCheckbox($event)"></mat-checkbox>
            </div>
            <div class="col-md-1">
            <button type="button" (click)="filterList(companyNameInput.value, amountInput.value)" class="btn btn-primary">Filter</button>
            </div>
            <div class="col-md-2">
            <button type="button" class="btn btn-primary" (click)="clearFilters()">Clear filters</button>
            </div>
        </div>
    </form>
</div>
<div class="container my-5">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Comapny</th>
        <th scope="col">Comapny adress</th>
        <th scope="col">Create Date</th>
        <th scope="col">Amount</th>   
        <th scope="col">is Paid</th>   
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of invoices">
        <th scope="row">{{item.id}}</th>
        <td>{{item.company}}</td>
        <td>{{item.companyAdress}}</td>
        <td>{{item.createDate}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.isPaid}}</td>
      </tr>
    </tbody>
  </table> 
</div>